@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-content {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.memory-game {
  padding: 56px 48px;
}

.memory-game__player-name {
  margin-bottom: 24px;
}

.card {
  position: relative;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card .card__front {
  transform: rotateY(90deg);
  position: absolute;
  transition: 2ms;
}

.card__back {
  /* height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px; */
}

.card__flipped .card__front {
  transform: rotateY(0deg);
  transition: 2ms;
}
